# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# IBM API Token
ibm_token.txt
ibm_CRN.txt

# Other stuff
imgs/*